.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: aqua;
    border-radius:100px ;
}
.box{
    background-color: rebeccapurple;
    border-radius: 150px;
    height: 10vh;
}
